LOCK TABLES MDATA_Insight WRITE;
/*!40000 ALTER TABLE MDATA_Insight DISABLE KEYS */;
/*!40000 ALTER TABLE MDATA_Insight ENABLE KEYS */;
UNLOCK TABLES;
LOCK TABLES MDATA_Formula WRITE;
/*!40000 ALTER TABLE MDATA_Formula DISABLE KEYS */;
/*!40000 ALTER TABLE MDATA_Formula ENABLE KEYS */;
UNLOCK TABLES;

LOCK TABLES MDATA_FormulaSnapshot WRITE;
/*!40000 ALTER TABLE MDATA_FormulaSnapshot DISABLE KEYS */;
/*!40000 ALTER TABLE MDATA_FormulaSnapshot ENABLE KEYS */;
UNLOCK TABLES;
